<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <br>
        I have updated Abotu us page.
        <br>
        You can contact me at <b>{{address}}</b>
        <br>
        {{>footer}}
    </body>
</html>