<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {{>header}}
        <br>
        This is <b>{{name}}</b><br>
        I have completed by <b>{{qualification}}</b> in 2012
        <br>
        {{>footer}}
    </body>
</html>